<form>
  <div class="form-group">
    <label for="content">Quote</label>
    {{textarea value=quote.content cols="80" rows="6" name="content" class="form-control"}}
  </div>
  <button {{action "save"}} class="btn btn-default">Save</button>
  <button {{action "cancel"}} class="btn btn-default">Cancel</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
