<div class="quote">
  <div class="quote__body">
    {{quote.content}}
  </div>
  <div class="quote__actions">
    <div class="btn btn-success">+</div>
    {{quote.voteBalance}}
    <div class="btn btn-danger">-</div>
  </div>
</div>
