<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Quotes</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/quotes">Quotes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{{outlet}}
