<ul class="nav navbar-nav navbar-right">
  {{#unless session.isAuthenticated}}
    <li>{{#link-to 'login'}}Login{{/link-to}}</li>
  {{else}}
    <li>
      <a href="#" {{action 'logout'}}>Logout</a>
    </li>
  {{/unless}}
</ul>
