<ul class="nav navbar-nav navbar-right">
  {{#unless session.isAuthenticated}}
    <li>{{#link-to 'login'}}Login{{/link-to}}</li>
  {{else}}
    {{#if currentUser.user}}
      <li><a>{{currentUser.user.email}}</a></li>
    {{/if}}
    <li>
      <a href="#" {{action 'logout'}}>Logout</a>
    </li>
  {{/unless}}
</ul>
