<div class="container">
  <div class="row">
    <div class="col-xs-12 quotes">
      <ul class="list-unstyled">
        {{#each model as |quote|}}
          {{quotes/quote-box
            quote=quote
          }}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
